[2016-04-03 17:03] cherukumilli opened #1 "First Issue Testing"

[2016-04-03 17:04] cherukumilli opened #2 "Second Issue Testing"

[2016-04-03 22:33] cherukumilli opened #3 "Remove Red Cubicle Dividers"
Remove 3 RED cubicle dividers

![img_0623](https://cloud.githubusercontent.com/assets/5217007/14235363/f75452d4-f9b0-11e5-85bd-d2f4f1744ec3.jpg)

[2016-04-03 22:37] cherukumilli commented on #3
The cubicle dividers have to be removed and the holes have to be plugged

[2016-04-03 22:38] cherukumilli opened #4 "Remove noodles from the roof"
![img_0624](https://cloud.githubusercontent.com/assets/5217007/14235398/1ecda530-f9b2-11e5-9650-43341f955853.jpg)

[2016-04-03 22:42] cherukumilli commented on #4
- Need more than one volunteer for this job
- Need volunteers to be certified in using the scissor lift
- Need volunteers to dump the noodles in the trash

[2016-04-03 22:43] #1 closed

[2016-04-03 22:43] cherukumilli commented on #1
Test issue

[2016-04-03 22:43] cherukumilli commented on #2
Second Test Issue

[2016-04-03 22:43] #2 closed

[2016-04-03 22:54] cherukumilli opened #5 "Trash the First Foosball Table with a broken leg?"
![2016-04-03 15 45 48](https://cloud.githubusercontent.com/assets/5217007/14235471/30ca3968-f9b4-11e5-9502-a350b2007d40.jpg)

[2016-04-03 22:55] cherukumilli commented on #5
Does anyone think we should keep this foosball table? If no one has any objections then I would like to trash it.

[2016-04-03 22:55] cherukumilli opened #6 "Trash the second Foosball table also"
![2016-04-03 15 46 38](https://cloud.githubusercontent.com/assets/5217007/14235485/8662a8f6-f9b4-11e5-8675-6128a166a878.jpg)

[2016-04-03 22:56] cherukumilli commented on #6
This second foosball table is also broken. We would like to dump this foosball table also. Any comments?

It is in the loading dock btw.

[2016-04-03 23:00] cherukumilli opened #7 "Donate unused old monitors in the loading dock"
![2016-04-03 15 47 29](https://cloud.githubusercontent.com/assets/5217007/14235505/18f8e0f4-f9b5-11e5-8651-26f471bf5ce6.jpg)

[2016-04-03 23:00] cherukumilli commented on #7
Anyone have any suggestions on the best way to dispose off these old unused monitors in the loading dock?

[2016-04-03 23:01] cherukumilli opened #8 "Sell UNUSED space heater"
![2016-04-03 15 47 43](https://cloud.githubusercontent.com/assets/5217007/14235510/44900e90-f9b5-11e5-9343-fbceedbafb28.jpg)

[2016-04-03 23:01] cherukumilli commented on #8
This unused space heater IMO is a fire hazard. Does anyone know what to do with this one? Anyone know if this can be donated? or how to dispose it off?

[2016-04-03 23:07] cherukumilli opened #9 "Donate / Trash old broken water cooler?"
![2016-04-03 15 47 50](https://cloud.githubusercontent.com/assets/5217007/14235534/159d4c1e-f9b6-11e5-9db6-2e037ab082b0.jpg)

[2016-04-03 23:07] cherukumilli commented on #9
Does anyone know if we can donate this water cooler? or should we just trash it? If so, how and where do we trash it?

[2016-04-03 23:09] cherukumilli opened #10 "Move audio equipment sitting in the loading dock to the new location"
![2016-04-03 15 49 22](https://cloud.githubusercontent.com/assets/5217007/14235545/61461d94-f9b6-11e5-9bb9-0fd946286cc0.jpg)

[2016-04-03 23:10] cherukumilli commented on #10
Does anyone know who owns this audio equipment in the loading dock?
Can we donate this equipment? If so, what is a good place to donate this equipment?

[2016-04-03 23:11] cherukumilli opened #11 "Sell lawn chairs as we will no longer need them?"
![2016-04-03 15 49 40](https://cloud.githubusercontent.com/assets/5217007/14235554/ae52a1a2-f9b6-11e5-8edf-808a069122a1.jpg)

[2016-04-03 23:11] cherukumilli commented on #11
Does anyone think we need these lawn chairs? If not, how can we sell them? Craigslist? any other way?

[2016-04-03 23:13] cherukumilli opened #12 "Return Beer Keg in the loading dock..."
![2016-04-03 15 50 16](https://cloud.githubusercontent.com/assets/5217007/14235561/f1fb05f2-f9b6-11e5-8796-0a9e3ba603b9.jpg)

[2016-04-03 23:24] cherukumilli opened #13 "Unused air purifier donated by James Turley..."
![2016-04-03 15 50 29](https://cloud.githubusercontent.com/assets/5217007/14235621/7a826342-f9b8-11e5-93dc-f8e310734109.jpg)

[2016-04-03 23:24] cherukumilli commented on #13
I will contact James Turley to see if he wants this back.

[2016-04-04 00:29] dineshone commented on #6
If it is not too damaged, I can try and fix it and we can reuse it.

[2016-04-04 00:44] Qyoom commented on #3
What then needs to happen to the dividers? Also, do we have plaster for the holes?

[2016-04-04 00:47] cherukumilli opened #14 "Replace bulb on the ceiling over the kitchen in the warehouse area"
![2016-04-03 17 42 25](https://cloud.githubusercontent.com/assets/5217007/14236080/1a688642-f9c4-11e5-8230-3aad2c0a9479.jpg)

[2016-04-04 00:52] cherukumilli commented on #14
- Need volunteers that are certified to use the scissor lift
- Need the volunteer to talk to Jun and get a bulb

[2016-04-04 00:53] cherukumilli opened #15 "Replace bulb on the ceiling over the dinosaur mural in the warehouse area"
![2016-04-03 17 42 10](https://cloud.githubusercontent.com/assets/5217007/14236125/06c72b10-f9c5-11e5-8b40-0016b0694396.jpg)

[2016-04-04 00:54] cherukumilli commented on #15
- Need volunteers that are certified to use the scissor lift
- Need the volunteer to talk to Jun and get a bulb

[2016-04-04 01:17] mikeflores2000 opened #16 "Fix or Trash broken chair in kitchen"
Trash broken chair in kitchen, seat falls off.

[2016-04-04 01:18] mikeflores2000 opened #17 "Donate / Trash Lost in Space Robot standee"
Donate / Trash Lost in Space Robot standee.
Voice box INOP.

[2016-04-04 01:23] mikeflores2000 opened #18 "Building Inspections"
Add contingency new building passes all inspections and any deficiencies repaired by landlord.

[2016-04-04 01:41] cherukumilli opened #19 "Replace bulb on the ceiling over the emergency door in the warehouse area"
![2016-04-03 17 43 25](https://cloud.githubusercontent.com/assets/5217007/14236490/af83a4da-f9cb-11e5-8958-9f41c04164c0.jpg)

[2016-04-04 01:46] cherukumilli opened #20 "Replace bulb on the ceiling over the area between the kitchen and the rest room in the warehouse area"
![2016-04-03 17 43 42](https://cloud.githubusercontent.com/assets/5217007/14236533/5293fea4-f9cc-11e5-9af8-83850f317794.jpg)

[2016-04-04 01:48] cherukumilli opened #21 "Replace bulb on the ceiling over the maker space in the warehouse area"
![2016-04-03 17 44 07](https://cloud.githubusercontent.com/assets/5217007/14236560/96047f74-f9cc-11e5-9c4b-f787ce822bcb.jpg)

[2016-04-04 01:49] cherukumilli opened #22 "Replace bulb on the ceiling in the game room area between the kitchen and the restroom"
![2016-04-03 17 44 17](https://cloud.githubusercontent.com/assets/5217007/14236581/bd9b5864-f9cc-11e5-950d-64eb53cfc051.jpg)

[2016-04-04 01:51] cherukumilli opened #23 "Replace two bulbs on the ceiling in the south corner of the large event room"
![2016-04-03 18 34 51](https://cloud.githubusercontent.com/assets/5217007/14236606/0774592c-f9cd-11e5-8cc5-c062a22c6bf4.jpg)

[2016-04-04 01:52] cherukumilli opened #24 "Donate / recycle two old UNUSED IBM DESKTOP computers at the front desk"
![2016-04-03 18 34 15](https://cloud.githubusercontent.com/assets/5217007/14236620/2da13e6c-f9cd-11e5-8aed-dba061492499.jpg)

[2016-04-04 01:53] cherukumilli opened #25 "Repurpose / Donate two unused IBM LAPTOPS"
![2016-04-03 17 59 10](https://cloud.githubusercontent.com/assets/5217007/14236632/4e907066-f9cd-11e5-9cc7-27ea1df8452b.jpg)

[2016-04-04 01:58] cherukumilli commented on #17
@mikeflores2000 - *are you talking about the one in the picture below?*

![img_0644](https://cloud.githubusercontent.com/assets/5217007/14236679/01132fe4-f9ce-11e5-8b28-e0e2c1a0cb7e.jpg)

[2016-04-04 02:00] cherukumilli commented on #18
@mikeflores2000  Adding @vipjun to this ticket so that he can chime in...

[2016-04-04 02:01] cherukumilli commented on #16
@mikeflores2000 - I will take a look at it tomorrow evening

[2016-04-04 02:37] vipjun commented on #6
The second one should be thrown out.

[2016-04-04 03:40] mikeflores2000 commented on #17
Affirmative.

Cheers, Sent from my iPhone
-Support Engineer & Technical Business Analyst-
Mike 415-860-5283

[2016-04-04 13:29] cherukumilli commented on #17
ok. I will trash it later this evening when I get to the dojo

[2016-04-04 13:44] cherukumilli commented on #3
@Qyoom  - The plan is to use these cubicle dividers in the new facility. If I remember correctly, Jun was saying Frank Rothacker will be able to help remove the dividers and plug the holes.

I was wondering if we can start taking them out right now instead of waiting till the last minute. I am pretty sure we will discover a ton of other tasks that we have to do towards the end. What do you think?

[2016-04-04 13:47] cherukumilli commented on #6
@dineshone - I think both the foosball tables can be fixed. I don't think we have room to keep them in the new place. The question is even if someone fixes it, should we still donate it as we won't have room for it in the new place.

[2016-04-04 13:53] cherukumilli commented on #6
@dineshone - I assigned you this task. Please let me know if you are not interested in taking this task.

[2016-04-04 19:02] cherukumilli commented on #13
James Turley informed me via slack that he will come and pick it up. No need to trash this air purifier.

[2016-04-04 19:04] cherukumilli opened #26 "Buy at a minimum 7 bulbs for the ceiling lights"
Jun / @vipjun ,

Can you please order 7 BIG bulbs for the ceiling lights?

I think you might also need to order one SMALLER one for the light above the bulletin boards.

Please update this issue after you placed the order and after you received the bulbs so that we can work on replacing the bulbs.

[2016-04-05 00:52] vipjun commented on #26
ordered 8 lightbulbs in case one does not work.

[2016-04-05 00:52] vipjun commented on #26
I think we have some of the smaller bulbs

[2016-04-06 16:57] #17 closed

[2016-04-06 16:58] cherukumilli commented on #6
Jun dumped it in the trash bin for the city to pick up

[2016-04-06 16:58] #6 closed

[2016-04-06 17:01] cherukumilli commented on #3
Richard took out ONE of the cubicle dividers. Helped him in moving it to the wall next to electrical room and fire exit.

[2016-04-06 17:03] cherukumilli commented on #16
@mikeflores2000
I didn't see any broken chairs in the kitchen but I see a lot of broken chairs in the rest of the dojo. I will dump some of them in the next few days.

[2016-04-06 17:04] cherukumilli opened #27 "Dump old / broken sofa"
![2016-04-05 21 06 20](https://cloud.githubusercontent.com/assets/5217007/14325583/e0151a60-fbde-11e5-9ccd-8c6c5774aad3.jpg)

[2016-04-06 17:04] cherukumilli commented on #3
![2016-04-05 21 12 33](https://cloud.githubusercontent.com/assets/5217007/14325615/fc56aba8-fbde-11e5-88b7-b930ba6b6445.jpg)

[2016-04-06 17:05] #13 closed

[2016-04-06 17:08] cherukumilli commented on #4
Dumped it in the trash area outside the bin as the bin is full. Need to check and see if we can call the city to make a special run to pick up the junk.

[2016-04-06 17:24] ghufransyed opened #28 "Remove 'hack reactor' door lock on move-out on May 29"

[2016-04-06 17:25] ghufransyed opened #29 "Transport Hack Reactor monitors on May 30"
Jun, can you confirm how many of these there are that belong to the Dojo, and what size?

[2016-04-06 18:08] marieknox commented on #29
4, they are wide screen I believe 27 inches

On Wednesday, April 6, 2016, Ghufran Syed <notifications@github.com> wrote:

[2016-04-06 18:58] mikeflores2000 commented on #16
Look again. The seat slides off on chair next to black table at window in kitchen. Pick up chair and tip over to test.

[2016-04-07 16:40] cherukumilli commented on #29
@vipjun
Looks like you are using @marieknox's github userid for some reason.

adding @ghufransyed also on this thread

[2016-04-07 16:41] cherukumilli commented on #28
@ghufransyed
Looks like in that case we need to remove the HIVE room door lock also. I will add another item for that.

[2016-04-07 16:43] cherukumilli opened #30 "Remove 'HIVE' door lock on move-out and replace with regular door knob on May 30"
@vipjun @ghufransyed
Do we need another task to buy and put a normal door knob in the hole left after removing the door lock?

[2016-04-07 16:43] cherukumilli commented on #28
@ghufransyed @vipjun Do we need another task to buy and put a normal door knob in the hole left after removing the door lock?

[2016-04-07 17:09] cherukumilli commented on #27
Need help dismantling this sofa so that it will fit into the dumpster.

[2016-04-07 18:21] mikeflores2000 commented on #27
Wish I was told earlier. I have tools when I dismantled my sofa last year.

Cheers, Sent from my iPhone
-Support Engineer & Technical Business Analyst-
Mike 415-860-5283

[2016-04-07 19:12] ghufransyed commented on #30
Yes, I assume we still have the old one @vipjun ?

[2016-04-07 19:15] marieknox commented on #30
does replying work ? yes I believe we have the old door hardware in the
janitors closet

On Thu, Apr 7, 2016 at 12:12 PM, Ghufran Syed <notifications@github.com>
wrote:

[2016-04-07 19:19] ghufransyed commented on #30
Jun, looks like you are still listed as 'Marie' : if it's your account, you
should probably just change your name in the profile
On Apr 7, 2016 12:15 PM, "Marie" <notifications@github.com> wrote:

[2016-04-07 20:47] cherukumilli commented on #27
@mikeflores2000
Please let me know if you are planning to come to the dojo in the near future. I would love to take your help in dismantling this sofa.

[2016-04-07 20:48] cherukumilli commented on #16
@mikeflores2000
I will give it another shot at it later today. thx

[2016-04-07 20:54] mikeflores2000 commented on #27
DC,

Will do.  Be very careful not to injury yourself.  Typically coil springs
and razor sharp edges abound.

Cheers,
Sent from my Macbook Pro
-Experienced Support Engineer and Technical Business Analyst-
http://www.linkedin.com/in/mikeflores2000

Mike 415-860-5283

On Thu, Apr 7, 2016 at 1:47 PM, Diwakar Cherukumilli <
notifications@github.com> wrote:

[2016-04-08 03:00] marieknox commented on #30
test

On Thu, Apr 7, 2016 at 12:19 PM, Ghufran Syed <notifications@github.com>
wrote:

[2016-04-08 03:01] vipjun commented on #30
test again

[2016-04-08 03:25] cherukumilli commented on #16
Russell said he will put a couple of screws to tighten the chair. I will assign this issue to @russell-zhang

[2016-04-08 03:52] frankhd commented on #30
We had a box of locks and parts in the electrical utility room, however many things seem to be missing, including a wrench I made for installing the locks.

[2016-04-08 17:23] cherukumilli commented on #24
Many thanks to Celine for volunteering to drop them off at the donation center in Goodwill - Mountain view.

[2016-04-08 17:23] #24 closed

[2016-04-08 17:24] cherukumilli commented on #7
Many thanks to Celine for volunteering to drop off 3 of these old monitors at the Goodwill - mountain view donation center

[2016-04-08 17:25] cherukumilli commented on #16
@Russell-Zhang
I assigned you this issue

[2016-04-08 17:28] cherukumilli commented on #18
@vipjun
I am assigning you this task.
Please feel free to comment / close this issue after it is resolved.

[2016-04-08 17:30] cherukumilli commented on #4
Dismantled the noodles and dumped the noodles in the dumpster.

[2016-04-08 17:30] #4 closed

[2016-04-08 17:32] cherukumilli commented on #5
Closing this issue as someone dumped the foosball table in the recycle dumpster

[2016-04-08 17:32] #5 closed

[2016-04-08 17:38] cherukumilli commented on #8
This space heater is currently in the loading dock

[2016-04-08 17:43] Russell-Zhang commented on #10
A couple of members expressed their interest in setting up a Dojo media lab for video/audio content production, we can use these for that purpose.

[2016-04-08 18:00] echoudhry commented on #7
We can take these to weird warehouse not to far

[2016-04-08 18:01] echoudhry commented on #12
Where does this need to go?

[2016-04-08 19:57] cherukumilli commented on #25
@Russell-Zhang
Any update on these laptops?
Celine is going to GOODWILL mountain view today. If you think these can be donated then please give it to her asap.

[2016-04-08 20:12] Russell-Zhang commented on #25
No worries, I'm gonna try set them up to control our 3D printer over the weekend. Will toss them myself if that doesn't work out.

[2016-04-08 20:34] cherukumilli commented on #7
@echoudhry
Celine volunteered to drop off the rest of the old monitors at Goodwill - mountain view

[2016-04-08 20:34] #7 closed

[2016-04-09 09:20] Qyoom commented on #3
Frank took out 3 dividers today and plugged the floor holes. He gets the bulk of the credit and my vote for member of the month!

[2016-04-09 19:39] cherukumilli commented on #3
@Qyoom @frankhd
Can we close this task? or do you think there is more left?

[2016-04-09 19:46] cherukumilli commented on #12
@echoudhry
@vipjun needs to return it. Its been sitting in the loading dock for a while.

Jun - Please chime in.

[2016-04-09 19:49] cherukumilli commented on #10
@Russell-Zhang
Are you going to own moving this equipment to the new dojo if the others don't step up?

I just want to make that the others who want to setup a audio/video lab in the new place will follow up on it and this won't be an empty promise :)

[2016-04-09 19:50] cherukumilli commented on #27
@mikeflores2000
One more question...Do you think having a Hacker Dojo Garage sale to dispose of the sofa and some of the tables is a good idea?

[2016-04-09 20:21] cherukumilli commented on #24
Goodwill - Mountain View Receipt for donated items:

![2016-04-08 14 31 09](https://cloud.githubusercontent.com/assets/5217007/14406203/dc82baaa-fe55-11e5-8814-d7e16ea6085b.jpg)

[2016-04-09 20:22] cherukumilli commented on #7
Goodwill - Mountain View Donation Receipt

![2016-04-08 14 31 09](https://cloud.githubusercontent.com/assets/5217007/14406207/18ad838e-fe56-11e5-8e65-4d6ecbb785d7.jpg)

[2016-04-09 21:02] cherukumilli opened #31 "Setup network at new location"
Need to move all the equipment from the current location to the new home and setup the network in the new location.

**5000 sqft space**
- [x] Setup service with ISP (AT&T? Comcast?)
- [x] Run cables
- [x] Setup routers

**9000 sqft space**
- [ ] Setup service with ISP (AT&T? Comcast?)
- [ ] Run cables
- [ ] Setup routers

[2016-04-09 21:25] Russell-Zhang commented on #10
Sure, I'll be the Media Lab Operator

[2016-04-09 21:27] Russell-Zhang commented on #16
Fixed.

[2016-04-09 21:27] #16 closed

[2016-04-09 21:47] cherukumilli opened #32 "Move HP Sprout machines to new location"
There are two HP sprout machines that no one uses between the vending machines and the makerspace. These machines are NOT owned by Hacker Dojo so they need to be returned back to HP.

![4329901_sd](https://cloud.githubusercontent.com/assets/5217007/14406651/7cd4e800-fe62-11e5-83ea-70d056624fb7.jpg)

[2016-04-09 21:54] cherukumilli commented on #32
@vipjun
Can you please post the HP contact email address? One of us can contact them to pick up these machines.

[2016-04-09 22:39] ghufransyed commented on #32
These machines actually look pretty awesome, it's hard to believe we
couldn't find a use for them? Could we keep them for now, if I can't find a
use for them, I'll arrange to give them back to HP or donate them elsewhere
and submit the receipt.
On Apr 9, 2016 2:54 PM, "Diwakar Cherukumilli" <notifications@github.com>
wrote:

[2016-04-09 22:53] cherukumilli opened #33 "Sell excess inventory of black U-shaped adjustable height tables"
The new dojo is much smaller. We won't be able to fit all the tables in the new dojo. We need to sell off some of the tables. The black U-shaped adjustable tables take up more space than needed.

**I propose we sell some or all of the black U-shaped tables.**

**Volunteers** - Need help in identifying tables that we can sell.
**Please print out a For Sale sign and stick to the back of the chair.**

[2016-04-09 22:55] cherukumilli opened #34 "Sell excess inventory of chairs"
The potential new location is much smaller than the current place.
We won't have room put all the tables and chairs.

**I propose we identify and sell off some of the chairs**

[2016-04-09 22:58] cherukumilli commented on #34
Volunteers - Need help in identifying chairs that we can sell.

**Please print out a For Sale sign and stick to the back of the chair.**

[2016-04-09 23:02] cherukumilli commented on #10
OK. Assigned this item to you.
Please close this item after this equipment is moved to the new location.
You will be responsible to move this by yourself i.e., in your car :)

[2016-04-09 23:08] cherukumilli commented on #32
@ghufransyed
We don't own these machines. HP still owns them. We can't donate them as far as I know.

IMHO... If no one used these machines for the past two years then I doubt anyone will use these machines in the near future. Also, one of the machines stays unplugged all the time. I think it is taking up unnecessary space and power (like a vampire).

I am assigning this task to you. :)

[2016-04-10 01:21] frankhd commented on #3
One more divider is left, plus plugging up the holes in the floor and walls.

On 4/9/16, Diwakar Cherukumilli <notifications@github.com> wrote:

[2016-04-10 02:50] Russell-Zhang commented on #32
No worries, Michael Chung and I just talked and we'll set them up for our Arduino Robotics classes later. The touch screen is convenient for ArduBlock drag-n-drop programming for the kids we're teaching.

[2016-04-10 18:47] cherukumilli commented on #32
@Russell-Zhang
I re-opened this task.
Are you planning to install new software on it?
If so, we need to find out if HP will be OK with it.

[2016-04-10 19:10] mikeflores2000 opened #35 "Trash or donate Brother HL-2270DW printer"
Needs a new laser cartridge.  I may have one but cannot find it.
Printer was donated last year to the Dojo.

[2016-04-10 23:45] cherukumilli commented on #35
@mikeflores2000
I wonder if we can donate a few of the other printers too.
Most of them are not used because they are either out of paper or ink cartridge.

[2016-04-10 23:48] mikeflores2000 commented on #35
Keep only big Brother and color HP.

Cheers, Sent from my iPhone
-Support Engineer & Technical Business Analyst-
Mike 415-860-5283

[2016-04-11 05:53] Russell-Zhang commented on #32
Alrighty, I'll check with HP on Monday and post our findings.

[2016-04-11 19:07] eadsjr commented on #8
I can dispose of this for you

[2016-04-11 19:54] cherukumilli commented on #8
@eadsjr
I have been requested to host a Garage sale or talk to local furniture resale companies to see if they want to buy our excess furniture and some of the goods like this space heater.

After the garage sale, if no one buys it then I will come back to you and beg you to dispose it. :)

[2016-04-11 21:05] Russell-Zhang commented on #32
Just talked to both a sales specialist and a customer rep from HP. Neither have a clue about exactly how HP would handle these demo units. They don't see any problems with installing third-party software on the machines, besides we can easily remove any installed programs.

I'll proceed with the original plan and transport the machines to 3350 Thomas Rd personally so they don't become logistic bur

[2016-04-11 21:13] vipjun commented on #32
Can we hack them into signin kiosks ?

[2016-04-11 22:13] Russell-Zhang commented on #32
@vipjun, that would require rewriting our sign-in apps from a scratch as far as I know. Dojo infrastructure is based in Linux, OS X or iOS environments. These machines on the other hand are highly customized Windows PCs. We should be able to replace some of the bulky front desk Linux machines with Raspberry Pi though.

[2016-04-11 23:04] cherukumilli commented on #26
@vipjun - Did we get the bulbs yet? If not, can you please call them and find out when we will get them?

[2016-04-11 23:41] Russell-Zhang opened #36 "Move The Digital Piano in Large Event Room to the new location"
It was donated by a Chinese startup that makes these pianos. We can sell them in a garage sale and apply the proceeds towards our future media lab.

[2016-04-12 21:01] cherukumilli commented on #36
+1

[2016-04-12 22:00] mikeflores2000 commented on #36
Hi DC,

Could you unsubscribe me from new-home github?

Cheers, Sent from my iPhone
-Support Engineer & Technical Business Analyst-
Mike 415-860-5283

[2016-04-12 22:58] Russell-Zhang commented on #25
I just replaced the whole clutter of our front desk sign-in system (desktop PC, Monitor, keyboard, mouse) with one of these laptops. The front desk has never felt so tranquil and minimalist. You'll love it, DC.

[2016-04-12 23:41] ghufransyed commented on #25
awesome. It did seem a little strange paying money for a new raspberry pi,
but giving away working laptops.. :)

On 12 April 2016 at 15:58, Russell-Zhang <notifications@github.com> wrote:

[2016-04-12 23:43] ghufransyed commented on #36
@mikeflores2000 : just click the link to open the page on github, then click 'unsubscribe' on the right hand side of the screen. I'm guessing you don't use git much at work?  :)

[2016-04-13 00:05] Russell-Zhang commented on #25
@ghufransyed, haha, (at the risk of dating myself) the laptop is the same IBM Thinkpad we used in PriceWaterhouseCoopers back in 2000, I was quite glad to find some use for such an ancient machine.

[2016-04-15 20:19] cherukumilli commented on #25
@Russell-Zhang
Are we going to use these laptops in the new location also? If so, can you take ownership of setting them up at the new location? PLEASE

[2016-04-15 20:44] cherukumilli opened #37 "Disconnect the Projectors in the Large Event Room and Conference room and package it for shipment"
Need a volunteer to use the scissor lift to and remove the projector in the large event room and use a ladder to unhook the projector in the classroom

[2016-04-15 20:47] cherukumilli opened #38 "Install a projector in the large event room in the new location"

[2016-04-15 20:47] cherukumilli opened #39 "Install a projector in the classroom in the new location"

[2016-04-15 20:49] cherukumilli opened #40 "Disconnect the TV in the kitchen and package it for shipment to the new location"
Need a volunteer to:
1. Disconnect the TV in the kitchen
2. Package all the parts that go with this TV into a nice box
3. Help ship it to the new location

[2016-04-15 20:55] cherukumilli opened #41 "Disconnect the TV monitor used for showing events in the lobby and package it for shipment"
Need a volunteer to:
1. Disconnect the TV monitor in the lobby
2. Package it for shipment to the new location. Package should include all the parts so that it can be installed correctly in the new location.

[2016-04-15 20:56] cherukumilli opened #42 "Setup the TV used for events in the lobby of the new location"

[2016-04-16 00:09] Russell-Zhang commented on #25
Sure thing, I've already replaced the front desk sign-in system with one of these laptops. Will find use for the other one in our new location too

[2016-04-18 01:36] cherukumilli opened #43 "Help clean up the library by donating or recycling old technical books that are no longer used"
Need a volunteer to:
1. Identify old technical books like Visual Basic 6, Win 32 API fundamentals and other books that are no longer used and relevant
2. Pack them into boxes
3. Donate them to the nearest library OR drop it off at a book recycling center

[2016-04-18 01:42] cherukumilli opened #44 "Identify and pack good books from the library into the boxes provided by Jun"
Volunteers needed to:
1. Identify good books that we should keep for the new dojo
2. Pack the good books into boxes (Jun Wong should give you the new boxes)
3. Move the boxes to the loading dock
4. Move the empty shelves to the loading dock

[2016-04-18 01:47] mikeflores2000 commented on #43
Please recycle obsolete books. Don't want to pollute young minds with obsolete tech skills.
It's bad enough holding current skills gets you the unemployment line.

My nephew makes $100 an hour and he can't
decipher a 1 from a 0 in the context of computers.

No wonder America has to import
H1B along with oil and drugs.
Shame on us.  Ron Paul is vindicated.

Cheers, Sent from my iPhone
-Goof ball -

[2016-04-18 02:56] cherukumilli commented on #26
@vipjun - I am closing this issue as the new bulbs have arrived

[2016-04-18 02:56] #26 closed

[2016-04-19 19:25] cherukumilli opened #45 "Sell Outdoor Patio Heaters"
There are 3 portable patio propane heaters.

We won't need them in the new location. Need to sell them.

Any volunteers?

[2016-04-19 19:27] cherukumilli opened #46 "Sell outdoor BBQ grills as there is no place to put it in the new location"
We have a couple of BBQ grills in the current location. We don't have a place to put them in the new location.

Need volunteers to help sell them.

[2016-04-21 01:32] frankhd commented on #37
You mean ceiling, not roof.  No one should go on the roof.

On 4/15/16, Diwakar Cherukumilli <notifications@github.com> wrote:

[2016-04-21 02:14] cherukumilli opened #47 "Update wikipedia article about Hacker Dojo"
Wikipedia article at https://en.wikipedia.org/wiki/Hacker_Dojo needs to be updated after the move to 3350 Thomas Rd.

[2016-04-21 02:16] cherukumilli commented on #37
@frankhd
Pardon my limited english vocabulary. Yes, it is ceiling I am talking about.

[2016-04-21 15:18] cherukumilli commented on #45
![20160419_105813](https://cloud.githubusercontent.com/assets/5217007/14714356/4c7d2d74-07aa-11e6-9e42-9c69a31e4706.jpg)
![20160419_105846](https://cloud.githubusercontent.com/assets/5217007/14714367/5c56d434-07aa-11e6-8940-c038afeac463.jpg)

[2016-04-21 16:46] Russell-Zhang commented on #45
Ralph mentioned that Thomas paid for them but was not reimbursed by Dojo, Mike Chung was supposed to contact Thomas to find out it he wants them back before we sell them. I'll remind Chung and Tom on Friday night.

[2016-04-21 18:29] ghufransyed commented on #45
If it was an approved purchase, shouldn't we offered to reimburse him (
assuming he has the receipts) ?

If Thomas wants to consider them a donation to the dojo (for us to sell),
we should at least offer to give him a receipt, it would save him some
money on taxes
On Apr 21, 2016 9:46 AM, "Russell-Zhang" <notifications@github.com> wrote:

[2016-04-22 03:23] cherukumilli commented on #45
@Russell-Zhang @ghufransyed
I thought I saw an email or slack from Ralph saying that even though Tom didn't get reimbursed, he doesn't want it back. He wants to consider it more like a donation to the dojo now. May be Michael Chung can confirm.

[2016-04-23 09:20] dustball commented on #47
You aren't supposed to edit wikipedia articles about yourself.  What the hell, bro.

[2016-04-25 02:36] frankhd commented on #47
I added the new address.  I will also add a photo of the outside of
the building.

On 4/20/16, Diwakar Cherukumilli <notifications@github.com> wrote:

[2016-04-25 11:38] cherukumilli commented on #47
@dustball
The intent of this task was to submit a request edit for the new location. I was not planning on editing it myself. :)

[2016-04-25 16:58] dustball commented on #47
I'm not an idiot.  It's still wrong.  You and frank have a conflict of interest.

But that's Okay, rules don't apply to you, right?  Hope you all end up in jail for trying to hide embezzlement.

https://en.wikipedia.org/wiki/Wikipedia:FAQ/Organizations

[2016-04-25 17:39] ghufransyed commented on #47
Brian, you are the founder of a competing hackerspace,
https://atribecalled650.pbworks.com . You're making public allegations of
illegal behavior by Diwakar. You have not gone to the police about this,
because there is no evidence to support your allegations.
Is that a conflict of interest? Or do those rules only apply where Person
!= "Brian Klug" ?
On Apr 25, 2016 9:58 AM, "Brian Klug" <notificat

[2016-04-25 22:35] mikeflores2000 commented on #47
I read the wiki link about conflict of interest.
Brian is right and his point is Hacker Dojo needs
to play by the same rules everyone else does.
He and and any reasonable person who respects the rule of law would understand this.

Blowing smoke and obfuscation has no place and
no one at the Hacker Dojo is above the rule of law.
Wouldn't you agree?

We applaud your donation of $10000 however.
Let's

[2016-04-25 23:01] ghufransyed commented on #47
Mike, you appear to be defining  'obfuscation' as "facts I don't want to
respond to"

Regarding the central point, what is the 'conflict' in correcting an
address when we move? The dojo and any readers of wikipedia are both served
by having an accurate address listed. And Frank has no formal connection to
the running of the dojo, he's just a very much appreciated volunteer.

Seeing as you were cel

[2016-04-25 23:10] ghufransyed commented on #47
So to actually focus on the mechanism, looks like we would add a [request edit](https://en.wikipedia.org/wiki/Template:Request_edit) to the [talk page](https://en.wikipedia.org/wiki/Talk:Hacker_Dojo)

[2016-04-25 23:10] #47 closed

[2016-04-25 23:59] cherukumilli commented on #47
@ghufransyed
That is what I was suggesting in my response to dustball.

[2016-04-26 00:01] appsmatics commented on #22
Replaced one near hallway. This one has a broken holder.
Luminaire 962a holder

[2016-04-26 00:03] cherukumilli commented on #22
Thanks Mani @appsmatics
Can I close this issue?

[2016-04-26 00:04] appsmatics commented on #22
Not yet, this particular one needs a holder change or some way to wedge the bulb in. Still open.

[2016-04-26 16:06] appsmatics commented on #22
Ok this is done now can be closed.

[2016-04-26 16:06] #22 closed

[2016-04-26 16:11] appsmatics commented on #28
why wait so long the room is empty. we can close this out rightaway (after changing of course)

[2016-04-26 16:12] appsmatics commented on #29
4, they are wide screen I believe 27 inches they are in the storage room at present

[2016-04-26 21:20] appsmatics commented on #23
@vipjun @appsmatics took care of the LER. all ceiling lamps good.

[2016-04-26 21:20] #23 closed

[2016-04-26 21:20] appsmatics commented on #21
@vipjun done

[2016-04-26 21:20] #21 closed

[2016-04-26 21:20] appsmatics commented on #20
@vipjun done

[2016-04-26 21:20] #20 closed

[2016-04-26 21:21] appsmatics commented on #19
done with @vipjun

[2016-04-26 21:21] #19 closed

[2016-04-26 21:21] appsmatics commented on #15
done with @vipjun

[2016-04-26 21:21] #15 closed

[2016-04-26 21:21] appsmatics commented on #14
done with @vipjun

[2016-04-26 21:21] #14 closed

[2016-04-26 21:23] appsmatics opened #48 "Light just as you enter mens not working"
Tried changing bulbs still glowing orange. Needs new ballast.

[2016-04-26 21:24] appsmatics opened #49 "3 ceiling lamps in corridor between conference rooms"
#@vipjun  has ordered the lamps

[2016-04-26 21:25] appsmatics opened #50 "several tube lights in maker space need changing"
@vipjun has an order out for them

[2016-04-26 21:26] appsmatics commented on #28
Changed back to regular handle with @vipjun

[2016-04-26 21:26] #28 closed

[2016-04-26 21:28] appsmatics commented on #36
john sokol put a bid on it during a member meeting. Not sure if he wants it. we could use it in the new place lobby area. Who knows might have a piano wo/man joining.

[2016-04-26 22:38] appsmatics commented on #12
@vipjun says this is done

[2016-04-26 22:38] #12 closed

[2016-04-27 18:54] cherukumilli commented on #36
@appsmatics
My only fear is that it will shunted into a corner even in the new place. If a big warehouse like 599 can't find a place for it then I don't know how we will be able to accommodate it in the new place.

Currently, @Russell-Zhang  is the only one that uses this piano (may be once a week).

Also, does the cost of moving it justify keeping it?

@vipjun - Please chime in here...Do you thin

[2016-04-27 19:00] cherukumilli opened #51 "Replace missing/bad ceiling tiles in the conference room, classroom, loungey and other areas"
Volunteers Needed!!!

- Please help identify how many ceiling tiles are

1. Missing
2. Broken / bad

- Work with Jun or go to Home Depot or the nearest hardware store to buy ceiling tiles of CORRECT DIMENSION, TEXTURE, COLOR, etc

- Replace the tiles on the ceiling

- Please talk to Jun Wong if you have more questions.

[2016-04-27 22:46] appsmatics commented on #36
Having something funky like a piano is a good thing. Its free and in good condition. Maybe we can get some students from music schools to come and play. Maybe someone will make a robot to play a piano !
It hardly takes up space. It should have been put in the front not in the LER.

[2016-04-27 22:58] cherukumilli commented on #36
@appsmatics
Sounds good. Let me close this task then.
We will plan on moving it to the new location.

[2016-04-27 22:59] cherukumilli commented on #36
Actually, let me change the description to reflect that we will be moving the piano to the new location

[2016-04-28 06:04] cherukumilli commented on #27
Dumped it with Russell's help

[2016-04-28 06:04] #27 closed

[2016-04-28 06:08] cherukumilli commented on #43
Cleaned up most of the old and useless books with Russell's help today

[2016-04-28 06:08] #43 closed

[2016-04-28 22:44] vipjun commented on #36
Landlord said Piano in the lobby would be okay, but we won't be able to put
other things there.

On Wed, Apr 27, 2016 at 3:59 PM, Diwakar Cherukumilli <
notifications@github.com> wrote:

[2016-04-28 23:37] Russell-Zhang opened #52 "Move and Setup Mag-Lock and Sign-In Machines"
John Sokol and I have been working on this already

[2016-04-29 21:42] cherukumilli opened #53 "Sell lockers"
Jun informed that there is no room in the new location to put the lockers.
Volunteers needed to help sell the lockers.

Craigslist?

[2016-04-30 02:34] cherukumilli commented on #9
donating it to Goodwill

[2016-04-30 02:42] cherukumilli commented on #33
There are 29 of these.

[2016-05-01 20:33] cherukumilli opened #54 "Move office plants to the new location"
Two step process
- [x] Identify plants that need to be moved and document it in this task
- [x] Move office plants to a temp location as soon as possible
- [ ] Move office plants from the temp location back to the new location

[2016-05-01 20:35] cherukumilli opened #55 "Sell industrial oven"
There is no place to put the industrial oven in the new location
- [ ] sell industrial oven
- [ ] sell normal oven

[2016-05-01 20:39] cherukumilli opened #56 "Sell Turkey oven"
A turkey oven was bought during thanksgiving of 2015. There is no place to put this in the new location.

[2016-05-02 21:09] cherukumilli opened #57 "Enable physical thermostats in the current location"
Zonker responded to Jun's email below to check the web portal to allow the physical thermostat's (https://obs.bayweb.com/portal/index.php) to work again.

On Mon, May 2, 2016 at 1:42 PM, Jun Wong <jun.wong@hackerdojo.com> wrote:
I heard that the physical thermostats were able to change the temperature when we first moved into the building but had been disabled.  Was anyone a part of that or know h

[2016-05-04 04:45] frankhd commented on #48
I have a ballist on order.

On 4/26/16, hackermani <notifications@github.com> wrote:

[2016-05-04 16:01] cherukumilli commented on #54
@ghufransyed
Would you be interested in taking any of the office plants to your home and bring them back after we move into the new location?

BTW: I took a couple of them home.

[2016-05-04 16:04] cherukumilli commented on #44
Donated all the books to Goodwill.
Thanks to Celine, Jun, Russell, Ghufran, Frank Tocci, Mike Bowles, Jonathan, Amit and other volunteers for helping out.

[2016-05-04 16:04] #44 closed

[2016-05-04 16:06] cherukumilli commented on #3
@frankhd
Can we consider this task as completed? If so, can we close this task?

[2016-05-05 20:23] appsmatics commented on #48
Frank we need one more ballast. Same type of lamp along the walkway. You will see it as i left it out of the ceiling.

[2016-05-05 20:26] appsmatics commented on #50
All working now. @Russell-Zhang  changed a bunch too.

[2016-05-05 20:26] #50 closed

[2016-05-05 20:27] appsmatics commented on #49
changed bulbs in 2 of them OK now. One needs a new ballast.

[2016-05-05 20:28] appsmatics commented on #51
Maker space:
@Russell-Zhang tubes in 2 fixtures to working ballast and changed a few more
All classrooms and conference room lights are working now.

[2016-05-05 20:28] #51 closed

[2016-05-05 20:31] appsmatics opened #58 "Ceiling tiles in conference rooms / hive (paint or change)"

[2016-05-05 20:31] appsmatics commented on #58
Jonathan took care of the classrooms and conference rooms. Only hive left.

[2016-05-05 21:06] frankhd commented on #48
I have two ballasts on order, because I was not completely certain
about which would work.  Perhaps, both will work, in which case I can
replace the one in the walkway.

On 5/5/16, hackermani <notifications@github.com> wrote:

[2016-05-07 22:11] cherukumilli opened #59 "Send an invoice to squiffyclean for buying the industrial kitchen oven..."
Simon bought the industrial kitchen oven for $50.
Simon would like an invoice to SquiffyClean so that he can expense it.

Please send an invoice to Simon:  simon@squiffyclean.com.

[2016-05-09 00:14] cherukumilli opened #60 "Remove the bike rack and pack the accessories in a box"

[2016-05-09 00:14] cherukumilli commented on #60
Jonathan took care of it

[2016-05-09 00:14] #60 closed

[2016-05-09 00:19] cherukumilli opened #61 "Remove 3 wall lamps and add them to items for sale..."
Jonathan will be working on it

[2016-05-09 13:54] cherukumilli opened #62 "Remove and Pack bulletin boards for shipment to the new location"

[2016-05-09 13:54] cherukumilli opened #63 "Remove beer can openers and pack them for shipping to the new location"

[2016-05-09 13:55] cherukumilli opened #64 "Remove wall paintings and pack them into boxes for shipping to new location"

[2016-05-09 13:57] cherukumilli opened #65 "Remove wall lamps, sell/donate or package them"

[2016-05-09 13:58] cherukumilli commented on #8
Mani volunteered to donate this item to Goodwill

[2016-05-09 13:58] #8 closed

[2016-05-09 13:59] cherukumilli commented on #35
Part of the moving sale. If it is not sold then will donate it to Goodwill.

[2016-05-09 13:59] #35 closed

[2016-05-09 14:01] cherukumilli commented on #18
@vipjun
Can this be closed now that we signed the lease?

[2016-05-09 14:03] cherukumilli commented on #55
Simon bought it for $50. Jun to send an invoice to Simon.

[2016-05-09 14:03] #55 closed

[2016-05-09 14:06] cherukumilli commented on #61
Done

[2016-05-09 14:06] #61 closed

[2016-05-09 14:06] cherukumilli commented on #65
Done

[2016-05-09 14:06] #65 closed

[2016-05-09 14:08] cherukumilli commented on #54
Sold a few of the small plants in the moving sale. Moved the other small plants to my office in San Jose for now

[2016-05-09 14:09] cherukumilli commented on #54
Plan to move the rest of the big plants on May 28/29

[2016-05-15 14:17] cherukumilli commented on #62
Jonathan took care of it.

[2016-05-15 14:17] #62 closed

[2016-05-15 14:18] cherukumilli commented on #46
Sold small one to kevin for $20 (by DC)
and the big one to Ali for $xxx (by Jun)

[2016-05-15 14:18] #46 closed

[2016-05-15 14:18] cherukumilli commented on #45
Sold one to Ali for $xxx (by Jun)

[2016-05-15 14:19] cherukumilli commented on #63
Jonathan took care of it

[2016-05-15 14:19] #63 closed

[2016-05-15 14:20] cherukumilli commented on #59
@vipjun
is this taken care of?
If so, can you please add your comments and close this?

[2016-05-15 14:20] cherukumilli commented on #3
plugged the holes with putty

[2016-05-15 14:20] #3 closed

[2016-05-15 14:21] cherukumilli commented on #9
Donated broken water cooler (to Goodwill)

[2016-05-15 14:21] #9 closed

[2016-05-15 14:22] cherukumilli commented on #10
Russell help sell this item

[2016-05-15 14:22] #10 closed

[2016-05-15 14:22] cherukumilli commented on #11
Sold all the chairs, tables

[2016-05-15 14:22] #11 closed

[2016-05-15 15:04] cherukumilli commented on #54
Moved a lot of the plants to my san jose office

[2016-05-15 15:04] cherukumilli commented on #54
The big plants need to be moved directly to the new location as they are not fitting in my car

[2016-05-16 19:52] cherukumilli commented on #56
Sold by Russell

[2016-05-16 19:52] #56 closed

[2016-05-16 19:53] cherukumilli commented on #45
Sold two more to the chinese lady who comes to the weekend morning tutoring sessions

[2016-05-16 19:53] #45 closed

[2016-05-17 00:57] Russell-Zhang commented on #25
Re-purposed the second old laptop as a mobile Word/Excel workstation, I'll personally transfer it to new location.

[2016-05-17 00:57] #25 closed

[2016-05-18 15:03] cherukumilli commented on #59
is this taken care of? If so, can you please close this item?

[2016-05-18 15:04] cherukumilli commented on #53
1 tall locker sold to Kim. Kim yet to pay $20.

[2016-05-18 18:31] vipjun commented on #59
Invoice sent

[2016-05-18 18:32] #59 closed

[2016-05-18 18:33] vipjun commented on #58
All tiles have been changed.  Only placing tiles in server room are left

[2016-05-18 18:34] vipjun commented on #52
The landlord is looking to purchase an off the shelf / installed solution . Can You and John look into one that can communicate via api ? Land lord is willing to pay ~$500 month for the building as a support contract.

[2016-05-18 18:35] #18 closed

[2016-05-18 18:37] vipjun commented on #32
HP reps have not been coming to the location to service the computers.  We have no agreement with them.  It is fair game for how we decide to use them.

[2016-05-18 18:38] vipjun opened #66 "Take down projectors"
Take down projectors in LER
and Conference room

After May 21

[2016-05-18 19:40] Russell-Zhang commented on #66
Duplicating with this? https://github.com/hackerdojo/new-home/issues/37

[2016-05-18 19:49] Russell-Zhang commented on #32
One is broken, I'm developing a virtual robotics lab on the other. Will transport to the new location myself.

[2016-05-18 19:53] Russell-Zhang commented on #52
yeah, we've started looking into vendors few weeks ago, will forward the finding to you

[2016-05-23 01:37] cherukumilli commented on #48
Frank fixed this on friday

[2016-05-23 01:37] #48 closed

[2016-05-23 01:40] cherukumilli commented on #34
Sold a significant number surplus chairs. We can take the rest of the unsold chairs to the new location

[2016-05-23 01:40] #34 closed

[2016-05-23 01:42] cherukumilli commented on #33
Closing this task. Sold enough of the tables. Take rest of them to new location

[2016-05-23 01:42] #33 closed

[2016-05-23 19:40] cherukumilli commented on #31
@ sunnguyen1
We will be using this item to track the setup of the network in the new location.

@vipjun
Sun also volunteered to help with the network setup in the new location. He has been an excellent volunteer of late and has been helping man the front desk lately.
How can Sun help? Can you please talk to him today at the dojo?

[2016-05-23 19:45] cherukumilli commented on #64
Took down all the known wall paintings

[2016-05-23 19:45] #64 closed

[2016-05-23 19:48] cherukumilli commented on #49
@appsmatics
Frank fixed the ballast in the restroom. He said he won't be able to make it this week as he will be out of town. Will you be able to fix the ones between the conference rooms. @Russell-Zhang or @vipjun or Jonathan or Stewart will be able to help you.

[2016-05-23 19:50] cherukumilli opened #67 "Package tools in the makerspace into boxes for shipment to new location"

[2016-05-23 19:51] #66 closed

[2016-05-23 19:52] cherukumilli opened #68 "Sell big refrigerator in the kitchen"

[2016-05-23 19:53] cherukumilli opened #69 "Clean and Sell small fridge in the kitchen"
This fridge needs some cleaning

[2016-05-23 19:57] cherukumilli opened #70 "Package kitchen supplies for shipment to new location"
- [ ] Stop stocking ALL kitchen supplies
- [ ] Pack spoons, plates, coffee, tea, soap and other disposables
- [ ] Pack utensils

[2016-05-24 03:59] appsmatics commented on #49
its a bit of a pain as the ballast is in the false ceiling with short leads ... but we will look at it

[2016-05-24 15:19] cherukumilli commented on #49
@appsmatics
Should we call an electrician to help fix this? @vipjun, @sunnguyen1 and @Russell-Zhang are also there to help. I will be there in the evening around 7:30 pm to help also (if there is anything else that is remaining).

[2016-05-25 13:18] appsmatics commented on #49
never ! will know today, when I try it.

Sent from my iPhone

[2016-05-25 18:22] cherukumilli commented on #69
The small fridge is owned by Brandon. Closing this task.

[2016-05-25 18:22] #69 closed

[2016-05-25 18:26] cherukumilli commented on #31
@sunnguyen1
Did you get a chance to check out the new location?
If so, did you figure out a day you would like to install the network in the new location?
Please keep update this task with the status

[2016-05-25 19:46] vipjun commented on #31
I was with sun yesterday at the new loc. Larry was there as well .  Internet should be up soon in the temp space

[2016-05-25 21:39] appsmatics commented on #49
Ok this is done now. All lamps in the Dojo are lit.
We have 100 % lamp coverage !

[2016-05-25 21:39] #49 closed

[2016-05-26 09:12] sunnguyen1 commented on #31
I will spend this Saturday 5/28/2016 to have the network ready at our new location.

[2016-05-26 14:59] sunnguyen1 opened #71 "IMPORTANT!!! Telephone/Electric poles has a live open circuit next to our recycle bin"
At approximately 7:30am this morning, one of our members reported a live open circuit on one or two telephone/electric poles located next to recycle bin.  I have contacted PG&E to report this hazard.  They have dispatched a crew to come out to take to look.  In the meantime, please stay away from that area because the circuit is live.

[2016-05-26 18:04] sunnguyen1 commented on #71
PG&E dropped by and resolved the power issue.

[2016-05-26 18:04] #71 closed

[2016-05-26 18:55] cherukumilli commented on #31
@sunnguyen1
Awesome!!!

[2016-05-27 01:59] vipjun commented on #31
@sunnguyen1

Hi Sunny, Please coordinate with Larry on this as well. He was at the facilities today.  I will CC you both on an email

[2016-05-27 12:52] sunnguyen1 commented on #31
I will work with Larry on this ticket.

[2016-05-31 06:34] sunnguyen1 commented on #31
Worked with Larry on this ticket. We got the network up and working at the new Dojo temp side of the building.

[2016-06-06 11:55] #70 closed

[2016-06-06 11:56] #67 closed

[2016-06-06 11:56] cherukumilli commented on #57
looks like Jun took care of this

[2016-06-06 11:56] #57 closed

[2016-06-06 11:57] cherukumilli commented on #54
taken care of by Jun + movers + dojo volunteers

[2016-06-06 11:57] #54 closed

[2016-06-06 11:58] cherukumilli commented on #53
@vipjun
did Kim ever pay for the locker that she bought? If not, can u pls check with her?

[2016-06-06 11:59] cherukumilli commented on #52
@Russell-Zhang
Are we still looking into this?
Can @sunnguyen1 help research, recommend and setup a system for us?

[2016-06-06 12:00] cherukumilli commented on #41
Russell, Jun and dojo volunteers took care of this

[2016-06-06 12:00] #41 closed

[2016-06-06 12:00] cherukumilli commented on #40
Russell, Jun and dojo volunteers took care of this task

[2016-06-06 12:00] #40 closed

[2016-06-06 12:00] cherukumilli commented on #37
Jun and team completed this task

[2016-06-06 12:00] #37 closed

[2016-06-06 12:01] cherukumilli commented on #36
Russell and team completed this task

[2016-06-06 12:01] #36 closed

[2016-06-06 12:01] cherukumilli commented on #30
Jun and team completed this task

[2016-06-06 12:01] #30 closed

[2016-06-06 12:01] cherukumilli commented on #29
Jun and team completed this task

[2016-06-06 12:01] #29 closed

[2016-06-06 12:02] cherukumilli commented on #32
@Russell-Zhang
Can we close this task?

[2016-06-07 21:51] Russell-Zhang commented on #32
Sure, thanks.

[2016-06-07 21:51] #32 closed

[2016-06-07 21:54] Russell-Zhang commented on #52
Yup, it's on-going, we'll co-ordinate with the landlord to make sure our system works with the new ones he's putting in.

[2016-06-08 13:33] cherukumilli commented on #53
Kim informed me via email that she paid $20 via hackerdojo.com/Give. Closing this task as the payment has been paid.

[2016-06-08 13:33] #53 closed

[2016-08-18 00:37] cherukumilli commented on #52
@Russell-Zhang
Can I close this issue?

[2016-08-18 00:37] cherukumilli commented on #31
network is up and running

[2016-08-18 00:37] #31 closed

[2016-08-18 05:02] Russell-Zhang commented on #52
Sure, the sign-in machines have been working since early June and we've
retired our old mag-lock system.

-- from my phone, pls excuse brevity & typos

On Wed, Aug 17, 2016 at 5:37 PM, Diwakar Cherukumilli <
notifications@github.com> wrote:

[2016-08-18 16:31] #52 closed

[2017-04-02 20:04] #42 closed

[2017-04-02 20:04] #39 closed

[2017-04-02 20:04] #38 closed